{% extends 'main/layout.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">
        <h1>News</h1>
        {% if news %}
            {% for elem in news %}
            <div class="alert alert-warning">
                <h3>{{ elem.title }}</h3>
                <p>{{ elem.anons }}</p>
                <a href="{% url 'news-detail' elem.id %}" class="btn btn-warning">Details</a>
            </div>
            {% endfor %}
        {% else %}
            <p>No news:(</p>
        {% endif %}
    </div>
{% endblock %}