{% extends 'main/layout.html' %}

{% block title %}About page{% endblock %}

{% block content %}
    <div class="features">
        <h1>About</h1>
        <p>В частности, новая модель организационной деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса распределения внутренних резервов и ресурсов. Картельные сговоры не допускают ситуации, при которой элементы политического процесса, инициированные исключительно синтетически, преданы социально-демократической анафеме. Каждый из нас понимает очевидную вещь: глубокий уровень погружения не оставляет шанса для модели развития.</p>
        <button class="btn btn-danger">Just press</button>
    </div>
{% endblock %}